
/* Universal Rules */

.html {
  font-size: 18px;
  background-color: white;
 }

body {
  font-family: 'Helvetica', sans-serif;
  line-height: 1.4rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

div {
  border: 1px solid red; 
  display: block;
}

.flex {
  display: flex;
}

/* Header Rules */

.header {
  background-image: url('../images/glasses-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 30rem;
  padding-top: 1rem;
}

.header span {
  padding-left: 1rem;
}

.header .flex {
  justify-content: flex-end;
}

nav div {
  display: flex;
  align-items: center;
}

nav {
  background-color: cadetblue;
  padding: 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav img {
  height: 1.5rem;
  width: auto;
}

ul {
  display: block;
  list-style-type: none;
}

nav li {
  display: inline;
  padding: 0 1rem;
}

.masthead-text {
  background-color: white;
  font-size: 2rem;
  line-height: 1.2rem;
  padding: 1.5rem 5rem;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  margin-top: 10rem;
  margin-right: -4rem;
}

.masthead-text h1 {
  margin: 1rem 0;
}

/* Second Section */

.services {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3rem;
  width: 5rem;
  height: 8rem;
  text-align: center;
}

.service img {
  width: 5rem;
  margin-bottom: 1.2rem;
}

.service img.paper-icon {
    width: 3.5rem;
}

.additional-info {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.more-info {
  width: 35%;
  margin-right: 5%;
}

.more-info p {
  padding-top: 1rem;
}

.title {
  padding: 0.5rem 1.25rem;
  background-color: cadetblue;
  font-size: 1rem;
  font-weight: bold;
  max-width: 10rem;
  color: white;
  text-transform: uppercase;
}

.foot-bg {
  background-color: azure;
  align-items: center;
  font-size: 100%;
}

.foot-content {
  padding: 4rem;
}

.foot-content img {
  height: 1.5rem;
}

.foot-content span {
  padding-left: 1rem;
}

/*Mobile Devices - 620px or less */

@media only screen and (max-width: 620px) {
  .header {
    padding-top: 0;
    background-position: 20%;
    max-height: 17rem;
  }
  .header span {
    display: none;
  }
  .full-menu {
    display: none;
  }
  .masthead-text {
    width: 100%;
    padding: 1rem;
    text-align: center;
    margin: 16rem auto 0 auto;
    font-size: 1rem;
  }
  .services {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 3.77rem;
    padding-bottom: 3.77rem;
  }
  
  .additional-info {
    flex-direction: column;
  }
  
  .more-info {
    width: 100%;
  }
  
  .more-info p {
    padding-bottom: 4rem;
  }
  
  .title {
    text-align: center;
    max-width: 100%;
  }
  
  .foot-content {
    justify-content: center;
  }
  .foot-content span {
    display: none;
  }
}



/* Tablet Devices - 1024px to 621px */

@media only screen and (max-width: 1024px) and (min-width: 621px) {
  
}






